<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!-- URL Rewrite -->
    <rewrite>
      <rules>
        <rule name="InjectRemoteUser" enabled="true" stopProcessing="true">
          <match url=".*" />

          <serverVariables>
            <set name="REMOTE_USER" value="{AUTH_USER}" />
          </serverVariables>

          <action type="None" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>

  <system.web>
    <authentication mode="Windows"/>
  </system.web>

</configuration>
